body {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("images/background_main.jpg") center;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    color: darkgreen;
    font-weight: bold;
}
h1, h2, h3, h4 {
    color: brown;
}
.container {
    padding: 0 30px;
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #DEAC9F;
    padding: 3% 10%;
}

.navigation-bar {
    display: flex;
    justify-content: space-evenly;
}
.navigation-bar a {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.padding-container {
    padding: 3% 0;
}

.image {
    height: 300px;
    width: 400px;
}

.bold {
    font-weight: bold;
}


/*registration page*/
.form {
    width: 40%;
    margin: 0 auto;
}
.form-item-wrapper {
    padding-bottom: 10%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.form-submit-item-wrapper {
    display: flex;
    justify-content: center;
}
.form-submit-item-wrapper input {
    font-size: 16px;
    padding: 4% 10%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #D24D57;
    border-radius: 10px;
    background: transparent;
    line-height: 15px;
    cursor: pointer;
}


/*schedule page*/
.schedule-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}
.schedule-table td {
    text-align: center;
}
.schedule-table td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}


/*speakers page*/
.speaker-photo {
    height: 40%;
    width: 30%;
}
.speaker-photo-desc {
    font-size: 14px;
    font-style: italic;
}

/*task with floating*/
.aside-with-floating {
    /*border: 3px solid red;*/
    float: right;
    width: 25%;
}
.section-with-floating {
    /*border: 3px solid blue;*/
    float: left;
    width: 70%;
}
.footer {
    padding: 3% 10%;
    background: url("images/background_footer.jpg");
    clear: both;
}

/*task with table size*/