body {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("starbucks-cup.jpg") center;
}

h1,
h2,
h3,
h4 {
    background: #DEAC9F;
    opacity: 0.7;
    color: darkolivegreen;
}

td,
th,
table {
    text-align: center;
    border: 2px solid darkolivegreen;
    padding: 10px;
    border-radius: 20px;
    background-color: bisque;
}

div {
    padding: 5px;
}

input,
select,
textarea,
button {
    border-radius: 10px;
    margin: 2px;
    font-size: 14pt;
    border-width: 1px;
    padding: 5px;
    background-color: #e2f1ff;
}
label {
    color: beige;
}
legend {
    color: antiquewhite;
    font-weight: 700;
}

.table-orders {
    display: grid;
    margin: 0 auto;
}


.form {
    display: flex;
    justify-content: center;
}
.label-left-position {
    float: left;
}
.form-item-wrapper {
    padding-bottom: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.form-submit-item-wrapper {
    display: flex;
    justify-content: center;
}
.form-submit-item-wrapper input {
    font-size: 16px;
    padding: 4% 10%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #D24D57;
    border-radius: 10px;
    background: bisque;
    line-height: 15px;
    cursor: pointer;
}